<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Maps: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body onload="getUserTimeline('<%= @screen_name %>', <%= @count %>)" onunload="GUnload()">

<p style="color: green"><%= flash[:notice] %></p>

<%= link_to 'Home', url_for('/') %>

<% form_tag :controller => '#' do %>
  <%= label_tag(:screen_name, "Search for:") %>
  <%= text_field_tag(:screen_name, @screen_name) %>

  <%= select_tag(:count, options_for_select([[10, 10], 
                                             [20, 20], 
                                             [50, 50], 
                                             [100, 100], 
                                             [200, 200]
                                            ],
                                            params[:count]
                                            )) %>

  <%= submit_tag("Search") %>
<% end %>

<!-- <%= link_to (image_tag "Sign-in-with-Twitter-lighter.png", :controller => :maps) %> -->

<%= yield %>

</body>

<%= javascript_include_tag "google_maps" %>
<%= javascript_include_tag "jquery-1.4.2.min" %>
<!-- <%= javascript_include_tag "jquery.json-2.2.min" %> -->
<!-- <%= javascript_include_tag "twitterapi_0.9.4" %>A-->
<script src="http://maps.google.com/maps?file=api&v=2&sensor=true&key=ABQIAAAA8okg8mFeZMRCeMhD2smigxQpRWiWRamRy9mvtbGBFoFWt7-l8hTs2mlX8MtmqDPTQ7BxsFQKrH5xww" type="text/javascript"></script>
<!-- <script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"></script> -->
<script type="text/javascript">
$(function(){
    $("input[name='commit']").click(function(){
        var screen_name = $("#screen_name").val();
        var count = $("#count").val();
        if(count == 10){
          $("form[action='/#']").attr("action", "/" + screen_name);
        } else {
          $("form[action='/#']").attr("action", "/" + screen_name + "?count=" + count);
        }
    });
});
</script>
</html>
